doctype html
html(lang="en")
  head
    title SEP Professional Development - FAQ
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    link(rel="stylesheet" href="/css/styles.css")
  body
    div(style="background-color: #492467; color: white;")
      .h3.title.text-center(style="padding-bottom: .5em; padding-top: .5em; margin-top: 0; margin-bottom: 1em;") SEP Professional Development
    .container#faq
      .row(style="padding-bottom: 1.5em;")
        .col-xs-12
          .h2.bold.text-center I LOVE LAST QUARTER, BUT I WANT TO LOOK AT OTHER DATES. HALP!
      .row
        .col-xs-5
          .bold.pull-right How do get random responses for any quarter ever?
        .col-xs-7
          .pull-left Good question! Check out <a href="/forever">/forever</a>.
      .row
        .col-xs-5
          .bold.pull-right How do get random responses for a given year?
        .col-xs-7
          .pull-left To look at random responses from 2015, put the year in the route like this: <a href="/2015">/2015</a>.
      .row
        .col-xs-5
          .bold.pull-right How do get random responses for a given quarter?
        .col-xs-7
          .pull-left To look at random responses from Q3 2015, modify the above route like this: <a href="/2015/3">/2015/3</a>.
      .row
        .col-xs-5
          .bold.pull-right How do I get all the responses at once?
        .col-xs-7
          .pull-left Ha ha, you can't. Check out <a href="http://planet.sep.com">Planet SEP</a>.
    .footer
      .row
        .col-xs-12.col-sm-4(style="padding-left: 2em; margin-top: 1em;")
          .pull-left Copyright © 2016 Larry Price (<a href="mailto:lrprice@sep.com">lrprice@sep.com</a>)
        .col-xs-12.col-sm-4.text-center
          a.h2(href="/") ...Back?
        .col-xs-12.col-sm-4.text-center(style="padding-right: 2em; margin-top: 1em;")
          a.pull-right(href="/faq") How do I...?
